@import '../mixins/_clearfix'

.c-hlist
  clearfix()
  &-items {
    display: flex;
    flex-direction: row;
  }
  &-item
    width: 100% !important;
    iframe,
    video
      display: block

  &--spaced
    padding: 8px
    & ^[0]-item
      padding: 8px
