@import '../mixins/_clearfix'

.c-hlist
  clearfix()
  &-item
    box-sizing: border-box
    float: left
    width: 100%
    iframe,
    video
      width: 100%
      display: block

  &--spaced
    padding: 8px
    & ^[0]-item &
      padding: 8px
