@import '../mixins/_clearfix'

.c-hlist
  clearfix()
  > *
    box-sizing: border-box
    float: left
    width: 100%
    iframe,
    video
      width: 100%
      display: block

  &--spaced
    padding: 8px
    > *
      padding: 8px
