.c-list
  .theme--dark.v-label
    color: #fff
    font-size: 18px
  .v-list__tile
    min-height: 48px
    height: auto;
    .c-list-title
      width: max-content
      font-size: 14px
      padding: 0 5px
    .c-list-description
      font-size: 12px
