.c-list {
  .theme--dark.v-label {
    color: #fff;
    font-size: 18px;
  }
  .v-list__tile {
    min-height: 48px;
    height: auto;
    .v-list__tile__content.overflow > div {
      white-space: normal;
    }
    .c-list-title {
      width: max-content;
      font-size: 12px;
      padding: 0 5px;
    }
    .c-list-description {
      font-size: 12px;
    }
  }
}
