.c-menu {
  .menu-title {
    text-align: center;
    padding-bottom: 0;

    .list__tile {
      display: block;
      padding: 0.75em 0.5em;
      height: auto !important;
    }

    .menu-title-label {
      width: 100%;
    }

    .menu-title-icon {
      width: 100%;
    }
  }

  &.navigation-drawer--mini-variant {
    .menu-title {
      .divider {
        display: block !important;
      }
    }

    .menu-item {
      padding: 0.5em;
      padding-bottom: 0;

      .list__tile {
        padding: 0.75em 0.5em;
        height: auto !important;
        border-radius: 4px;
      }
    }

    .menu-item-link {
      width: 100%;
      text-align: center;
    }

    .menu-item-label {
      font-size: 12px;
      opacity: 0.8;
    }
  }
}
