
.c-rich-text
  position: relative

  .ql-toolbar
  .ql-container
    border-color: rgba(black, .42)

  &.rich-text--error
    .ql-toolbar
    .ql-container
      border-color: #FF5252

  &.theme--dark
    .ql-snow 
      .ql-stroke
        stroke: #fff

      .ql-fill
        fill: #fff

      .ql-picker
        color: #fff

      .ql-editor
        &.ql-blank
          &:before
            color: #bbb

      .ql-picker-options
        background-color: #424242      



