.c-vlist
  &-item
    display: block
    width: max-content
   /*  iframe,
    video
      width: 100%
      display: block */

  &--spaced
    padding-top: 8px
    & ^[0]-item
      padding-bottom: 8px
