@import '../mixins/_clearfix'

.c-hlist
  clearfix()
  > *
    float: left
    iframe
      width: 100%
      display: block

  &--spaced
    padding: 8px
    > *
      padding: 8px
      box-sizing: border-box
