.c-hlist:before,
.c-hlist:after {
  content: " ";
  display: table;
}
.c-hlist:after {
  clear: both;
}
.c-hlist > * {
  float: left;
}
.c-hlist.c-hlist--spaced > * {
  margin: 16px;
}
.rating {
  position: relative;
}
.rating .rating__message {
  position: relative;
  font-size: 12px;
  opacity: 0;
  top: -10px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.rating .icon {
  position: relative;
  color: #bdbdbd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rating .icon:hover {
  cursor: pointer;
}
.rating--error .rating__message {
  color: #ff5252;
  opacity: 1;
  top: 0;
}
.input-richtext {
  position: relative;
}
.input-richtext .ql-toolbar,
.input-richtext .ql-container {
  border-color: rgba(0,0,0,0.42);
}
.input-richtext--error .ql-toolbar,
.input-richtext--error .ql-container {
  border-color: #ff5252;
}
.c-video {
  max-width: 100%;
}
.c-v-list > * {
  width: 100%;
}
